header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8b8e8d;;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  height: 60px;
  align-content: center;
  border-radius: 10px;
  z-index: 100;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.nav_left {
  margin-right: auto;
}

.nav_center {
  flex: 1; 
  max-width: 400px; 
  margin-right:auto;
}

.nav_center input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.nav_right {
  margin-left: 15px; 
}


.dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdown-item:hover {
    background: #f0f0f0;
}